.snippet-save-dialog {
    position: absolute;

    z-index: 990 !important;
    .layout-name-input {
        margin: 3px;
        user-select: none;
    }

    .snippet-save-dialog-formgroup {
        .bp5-label {
            width: 70px !important;
        }

        .bp5-form-content {
            width: calc(100% - 70px);
        }
    }
}

.save-dialog-portal {
    z-index: 991 !important;
}
