@import "~@blueprintjs/core/lib/scss/variables.scss";

.image-view-settings {
    padding: 20px;
    height: 100%;

    div.bp3-tabs.bp3-vertical {
        height: 100%;
    }

    .bp3-tab-panel {
        width: 100%;
        height: 100%;
        overflow: auto;
        user-select: none;
    }

    .bp3-tab-list {
        width: 10em;
    }

    .bp3-numeric-input input {
        width: 100px !important;
    }

    .bp3-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp3-label {
            width: 10em;
            text-align: right;
        }
    }

    .font-group {
        .bp3-form-content {
            display: flex;
        }

        input {
            width: 40px !important;
        }

        button > span > span {
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
        }

        button {
            width: 190px;
            margin-right: 5px;
        }
    }

    hr {
        margin: 15px;
        border: 1px solid $light-gray3;
    }

    .panel-colorbar {
        .bp3-label {
            width: 12em;
        }
    }

    .panel-pan-and-zoom {
        .coordinate-panel {
            width: auto;
            height: 30px;
        }

        .bp3-form-content {
            display: flex;

            .bp3-numeric-input input {
                width: 125px !important;
            }

            .info-string {
                line-height: 30px;
                margin-left: 20px;
                font-size: x-small;
                font-family: monospace;
                user-select: text;
            }
        }
    }
}
