.render-config-settings-panel {
    margin: 20px;

    .bp5-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp5-form-helper-text {
            white-space: nowrap;
        }
    }
}
