.render-config-settings-panel-form {
    .bp3-control-group {
        margin-top: 10px;
        margin-left: 2px;
        margin-right: 5px;
	    user-select: none;
        .plot-type-selector {
            margin: 0 auto 10px;
        }
    }
}