@import "~@blueprintjs/core/lib/scss/variables.scss";

.render-config-settings-panel {
    margin: 20px;

    .#{$ns}-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .#{$ns}-form-helper-text {
            white-space: nowrap;
        }
    }
}
