.freq-dialog {
    .bp3-label {
        width: 110px;
    }

    .name-text {
        .bp3-form-content {
            display: inline-block;
            width: calc(100% - 120px);

            .bp3-text-overflow-ellipsis {
                line-height: 30px;
            }
        }
    }

    .freq-input {
        display: flex;

        .bp3-form-group {
            margin-right: 10px;

            .bp3-input-group {
                width: 130px;
            }
        }
    }
}
