@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.spatial-profiler-widget {
    width: 100%;
    height: 100%;

    .modebar {
        background: rgba($blue3, 0.05) !important;
        border-bottom-left-radius: 5px;
    }
}