.file-browser-dialog {
    min-width: 60%;
    height: 100%;
    user-select: none;

    .file-path {
        margin-top: 20px;
        margin-left: 25px;
        display: flex;
    }

    .edit-path-button {
        margin-right: 7px;
    }

    .bp5-dialog-body {
        height: 100%;
        overflow: hidden;
        margin-top: 10px;

        .bp5-input-group {
            margin: 10px 5px 5px;
        }

        .file-panes {
            display: flex;
            height: calc(100% - 45px);
            margin-left: 5px;
            margin-right: 5px;

            .file-list {
                width: 55%;
                flex: auto;
                overflow-y: auto;
            }

            .file-info-pane {
                width: calc(45% - 10px);
                margin-left: 10px;
            }
        }
    }
}

.path-breadcrumbs {
    li::after {
        margin: 0 2px !important;
    }
}

.folder-breadcrumb {
    font-size: 14px !important;
}

.directory-path-input {
    width: 100%;
    margin-right: 25px;

    .bp5-input:not(:placeholder-shown) {
        font-family: monospace;
    }
}

.arithmetic-input {
    .bp5-input:not(:placeholder-shown) {
        font-family: monospace;
    }
}
