.file-browser-dialog {
    min-width: 60%;
    height: 600px;
    user-select: none;
    .bp3-dialog-body {
        display: flex;
        overflow: hidden;
        .file-path-pane {
            width: 60%;
            flex: auto;
            .file-path {
                margin-left: 5px;
                margin-bottom: 5px;
            }
            .file-list {
                overflow-y: auto;
                height: 93%;
            }
        }
        .file-info-pane {
            width: 40%;
            margin-left: 5px;
            overflow: auto;
            .bp3-heading {
                margin-top: 7px;
                margin-bottom: 3px;
                flex: 0 0 auto;
            }
            .file-info-pre {
                overflow: auto;
                height: 94%;
                margin-top: 0;
                margin-bottom: 0;
                flex: 2 2 auto;
            }
        }
    }
}
