.file-browser-dialog {
    min-width: 60%;
    height: 100%;
    user-select: none;
    .file-path {
        margin-left: 15px;
        margin-top: 15px;
    }
    .bp3-dialog-body {
        display: flex;
        overflow: hidden;
        margin-top: -5px;
        margin-left: 15px;
        .file-list {
            width: 60%;
            flex: auto;
            overflow: auto;
            margin-top: 1%;
        }
        .file-info-pane {
            width: 40%;
            margin-left: 1%;
            margin-bottom: 40px;
            .bp3-heading {
                overflow: scroll;
                height: 100%;
                flex: 2 2 auto;
            }
            .file-info-pre {
                overflow: scroll;
                height: 100%;
                flex: 2 2 auto;
            }
        }
    }
}
