.file-save {
    display: block;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin: 0.5em;
    margin-top: 1em;

    .file-name {
        .bp3-label {
            width: 7em;
        }

        .text {
            height: 30px;
            line-height: 30px;
        }
    }

    .region-select .bp3-label {
        width: 7em;
    }

    .coordinate-select {
        .bp3-label {
            width: 7em;
        }

        .bp3-html-select {
            margin-right: 7px;
        }
    }

    .range-select {
        .bp3-label {
            width: 7em;
        }

        .bp3-form-content {
            display: flex;

            .bp3-input-group {
                margin: 0;
                width: 13em;
            }

            .bp3-label {
                margin-left: 7px;
            }
        }
    }

    .stokes-select .bp3-label {
        width: 7em;
    }

    .drop-degenerate {
        margin-top: 0.5em;
        width: 14em;
    }

    .freq-input {
        display: flex;

        .bp3-input-group {
            margin: 0;
            width: 13em;
        }

        .bp3-input-group {
            width: 13em;
        }

        .bp3-html-select {
            margin-left: 7px;
        }
    }
}
