
.file-save {
    display: block;
    overflow-y: auto;
    height: 100%;
    width: 34em;
    margin: .5em;
    margin-top: 1em;

    .file-name {
        margin: 0em;
        margin-bottom: 0em;

        .label {
            width: 7em;
        }
        .text {
            margin-left: 1em;
            width: 70%;
        }
    }

    .region-select{
        margin: 0em;

        .label {
            margin-top: 0.5em;
            width: 7.9em;
        }
        .bp3-html-select {
            width: auto;
        }
    }

    .coordinate-select {
        margin: 0em;
        margin-top: 0em;

        .bp3-form-group {
            margin: 0;
            margin-top: 0.5em;

            .bp3-label {
                width: 7em;
            }
            .bp3-select {
                margin-left: auto;
            }
        }
    }

    .range-select {
        margin: 0em;
        margin-top: .5em;

        .bp3-control-group {
            margin: 0;

            .bp3-label {
                margin-top: 1em;
                width: 7em;
            }
            .bp3-numeric-input {
                margin: 0em;
            }
        }
    }

    .stokes-select {
        margin-top: 1em;

        .bp3-form-group {
            margin: 0em;

            .bp3-label {
                width: 7em;
            }
            .bp3-select {
                margin-left: auto;
            }
        }
    }

    .drop-degenerate {
        margin-top: 1em;
    }
}