.spatial-profiler-settings {
    margin: 20px;

    .bp4-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp4-input {
            width: 88px;
        }
    }

    .bp4-form-group .bp4-label {
        width: 10em;
        text-align: left;
    }
}
