.spatial-profiler-settings {
    margin: 20px;

    .bp3-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp3-input {
            width: 88px;
        }
    }

    .bp3-form-group .bp3-label {
        min-width: 10em;
        width: 10em;
        text-align: right;
    }

    .bp3-form-group .bp3-form-helper-text {
        white-space: nowrap;
    }
}
