@import "~@blueprintjs/core/lib/scss/variables.scss";

.region-list-widget {
    width: 100%;
    height: 100%;
    user-select: none;

    .float {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .region-editing {
    }

    .region-list-table {
        margin: 5px;
        border: 1px solid $gray4;

        &.bp3-dark {
            border-color: $dark-gray2;

            .row {
                background: $dark-gray2;
            }
        }

        .row,
        .row-header {
            .cell {
                flex-grow: 0;
                flex-shrink: 0;
                padding: 3px;
                display: flex;
                align-items: center;
                font-size: 12px;
                cursor: pointer;
                border-left: 1px solid $gray5;
                border-bottom: 1px solid $gray4;

                &:last-of-type {
                    border-right: 1px solid $gray5;
                }
            }
        }

        .row {
            background: $white;
            display: flex;

            &.selected {
                background: lighten($blue5, 25);
            }

            &.bp3-dark {
                background: $dark-gray3;

                .cell {
                    border-color: $dark-gray2;
                }

                &.selected {
                    background: #3c5066;
                }
            }

            &:last-of-type {
                .cell {
                    border-bottom-color: transparent;
                }
            }
        }

        .row-header {
            border-bottom: 1px solid $gray4;
            display: flex;
            background: $light-gray5;
            font-weight: bold;
            overflow-x: hidden;

            &.bp3-dark {
                background: $dark-gray4;

                .cell {
                    border-color: $dark-gray2;
                }
            }
        }
    }
}
