@import "~@blueprintjs/core/lib/scss/variables.scss";

.region-list-widget {
    width: 100%;
    height: 100%;
    user-select: none;
    .region-editing {
    }

    .row {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        &.selected {
            background: lighten($blue5, 30);
        }

        div {
            padding: 3px;
            font-size: 12px;
            cursor: pointer;
            border-left: 1px solid $gray5;
            border-bottom: 1px solid $gray4;
            vertical-align: middle;

            &:last-of-type {
                border-right: 1px solid $gray5;
            }
        }
    }

    table {
        padding: 5px 5px 0;
        overflow: auto;
        display: block;

        thead {
            &.dark-theme {
                tr {
                    th {
                        border-top: 1px solid $dark-gray4;
                        border-bottom: 1px solid $dark-gray5;
                        border-left: 1px solid $dark-gray4;

                        &:last-of-type {
                            border-right: 1px solid $dark-gray4;
                        }
                    }
                }
            }

            tr {
                display: block;

                th {
                    padding: 3px;
                    font-size: 12px;
                    font-weight: bold;
                    cursor: default;
                    border-top: 1px solid $gray5;
                    border-bottom: 1px solid $gray4;
                    border-left: 1px solid $gray5;

                    &:last-of-type {
                        border-right: 1px solid $gray5;
                    }
                }
            }
        }

        tbody {
            display: block;
            background: $white;

            &.dark-theme {
                background: $dark-gray2;

                tr {
                    td {
                        border-left: 1px solid $dark-gray3;
                        border-bottom: 1px solid $dark-gray5;
                        vertical-align: middle;

                        &:last-of-type {
                            border-right: 1px solid $dark-gray3;
                        }
                    }

                    &.selected {
                        background: $blue2;
                    }
                }
            }

            tr {
                &.selected {
                    background: lighten($blue5, 30);
                }

                td {
                    padding: 3px;
                    font-size: 12px;
                    cursor: pointer;
                    border-left: 1px solid $gray5;
                    border-bottom: 1px solid $gray4;
                    vertical-align: middle;

                    &:last-of-type {
                        border-right: 1px solid $gray5;
                    }
                }
            }
        }
    }
}
