@import "~@blueprintjs/core/lib/scss/variables.scss";

.catalog-plot {
    width: 100%;
    height: 100%;

    .catalog-plot-option {
        width: 100%;
        height: 40px;
        display: inline-flex;
        padding-left: 5px;
        padding-top: 5px;

        .bp5-form-content {
            margin-right: 5px;
        }

        .catalog-bins {
            .bp5-form-content {
                .bp5-control-group {
                    .bp5-input-group {
                        width: 100px;
                    }
                }
            }
        }
    }

    .non-ideal-state {
        height: calc(100% - 40px);
    }

    .catalog-plotly {
        width: 100%;
        height: calc(100% - 105px);
        position: relative;

        .js-plotly-plot .plotly .hoverlayer .spikeline {
            stroke: $gray2 !important;
            stroke-width: 1px;
        }
    }

    .catalog-plotly-dark {
        width: calc(100% - 10px);
        height: calc(100% - 105px);
        position: relative;

        .js-plotly-plot .plotly .hoverlayer .spikeline {
            stroke: $gray4 !important;
            stroke-width: 1px;
        }
    }

    .catalog-scatter {
        .js-plotly-plot .plotly {
            .modebar-container {
                right: 80px !important;
            }

            .modebar {
                transform: scale(2);
            }
        }
    }

    .bp5-dialog-footer {
        height: 70px;
        width: 100%;
        bottom: 5px;
        position: absolute;
        margin: 0px;
        padding: 0 5px 5px 5px;
        .bp5-button {
            height: 30px;
        }
        .bp5-form-group {
            margin: 0;
            .bp5-label {
                margin: 0;
            }
        }

        .scatter-info {
            height: 40px;
            width: 100%;
            position: relative;
        }
    }
}
