@import "~@blueprintjs/core/lib/scss/variables.scss";

.placeholder-container {
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $blue2;
        user-select: none;
    }
}
