@import "~@blueprintjs/core/lib/scss/variables.scss";

.cursor-overlay-div {
    position: absolute;
    background-color: rgba($gray1, 0.6);
    padding-left: 5px;
    width: 100%;
    vertical-align: middle;
    font-family: monospace;
    font-size: 12px;
    color: $light-gray5;
    z-index: 5;
    user-select: text;
    &.docked {
        z-index: 4;
    }
}
