@import "~@blueprintjs/core/lib/scss/variables.scss";

.layer-list-settings-panel {
    margin: 20px;

    .bp5-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp5-form-group .bp5-label {
        min-width: 12em;
        width: 12em;
        text-align: right;
    }

    .bp5-button-text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .name-text {
        .bp5-label {
            min-width: 110px;
            width: 110px;
        }

        .bp5-button {
            width: 200px;
        }

        .bp5-form-content {
            display: flex;
            width: calc(100% - 120px);
            line-height: 30px;

            .end-part {
                white-space: nowrap; // avoid new line
            }
            .disabled {
                color: $pt-text-color-disabled;
            }
            .disabled.dark {
                color: $pt-dark-text-color-disabled;
            }
            .active {
                font-weight: bold;
            }
        }
    }

    .freq-input {
        display: flex;

        .bp5-label {
            min-width: 110px;
            width: 110px;
        }

        .bp5-form-group {
            margin-right: 7px;

            .bp5-input-group {
                min-width: 130px;
                width: 130px;
            }
        }
    }
}
