@import "~@blueprintjs/core/lib/scss/variables.scss";

.raster-color-swatch-button {
    width: 95%;
    margin: 5px 0px 5px 0px;
}

.raster-custom-color {
    .#{$ns}-popover-target {
        display: flex;
        justify-content: center;
    }
}

.colormap-block {
    width: 75px;
    height: 15px;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
    border-radius: $pt-border-radius;
    border: 1px solid $gray4;
    &.#{$ns}-dark {
        border: 1px solid $gray2;
    }
}
