.log {
    padding: 5px;
    height: 100%;

    .log-entry-list {
        height: calc(100% - 30px);
        padding: 0;
        margin: 0;
        div {
            padding-top: 2px;
            .bp3-tag {
                margin-right: 5px;
            }
        }
    }

    .log-entry-follow {
        background: rgba(#137CBD, 0.3);
    }

    .log-footer {
        height: 30px;
        .tag-list {
            float: left;
            margin-top: 5px;
            .bp3-tag {
                margin-right: 5px;
            }
        }
        .log-footer-right {
            float: right;
        }
    }
}