@import "~@blueprintjs/core/lib/scss/variables.scss";

.log {
    padding: 5px;
    height: 100%;
    min-width: 300px;
    user-select: text;
    .log-content {
        height: calc(100% - 30px);
    }

    .log-entry-scroll-container {
        position: relative;
        height: 100%;
    }

    .log-entry-list {
        height: 100%;
        margin: 0;
        padding-bottom: 5px;
        overflow-y: auto;
        div {
            padding-top: 2px;
            .#{$ns}-tag {
                margin-right: 5px;
            }
        }
    }

    .log-entry-empty {
        padding-bottom: 0;
    }

    .log-entry-follow {
        position: absolute;
        right: 20px;
        bottom: 5px;
        background: rgba($blue3, 0.3);
    }

    .log-footer {
        height: 30px;
        .log-level {
            float: left;
            margin-right: 10px;
        }
        .tag-list {
            float: left;

            div {
                margin-top: 3px;
                .#{$ns}-tag {
                    margin-right: 5px;
                }
            }
        }
        .log-footer-right {
            float: right;
        }
    }

    .tag-hidden {
        text-decoration: line-through;
    }
}
