@import "~@blueprintjs/core/lib/scss/variables.scss";

.root-menu {
    text-align: left;
    display: flex;
    align-items: center;

    .root-menu-entry {
        min-width: 0 !important;
    }

    .connectivity-icon {
        padding-right: 8px;

        &.online {
            color: $green4;
        }

        &.warning {
            color: $orange4;
        }

        &.offline {
            color: $red4;
        }
    }

    .contour-loading-icon {
        padding-right: 8px;
        opacity: 0;
        color: $green3;

        &.icon-visible {
            opacity: 1;
        }
    }

    #hidden-status-info {
        display: none;
    }
}

.snippet-run-button {
    min-height: 20px !important;
    min-width: 20px;
}

.bp3-menu .bp3-popover2-target {
    // for menu items with tooltips
    display: block;
}

.new-release {
    img {
        width: 50px;
        object-fit: contain;
        margin-bottom: 30px;
    }

    .bp3-alert-contents {
        width: 280px;
        margin-left: 20px;

        p {
            margin-bottom: 5px;
        }

        .release-info {
            margin-top: 15px;
            font-size: 12px;
            color: $gray2;
        }
    }

    .bp3-alert-footer {
        height: 30px;
        margin-top: 0px;

        .bp3-switch {
            margin-top: 7px;
            margin-right: 15px;
            font-size: 12px;
            color: $gray2;
        }
    }
}
