@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.root-menu {
    text-align: left;
    display: flex;
    align-items: center;

    .root-menu-entry {
        min-width: 0 !important;
    }

    .connectivity-icon {
        padding-right: 8px;

        &.online {
            color: $green4;
        }

        &.warning {
            color: $orange4;
        }

        &.offline {
            color: $red4;
        }
    }

    .contour-loading-icon {
        padding-right: 8px;
        animation: pulse-green 2s infinite;
        opacity: 0;
        transition: opacity 0.5s;

        &.icon-visible {
            opacity: 1;
        }

        @keyframes pulse-green {
            0% {
                color: $green2;
            }
            50% {
                color: $green4;
            }
            100% {
                color: $green2;
            }
        }
    }

    #hidden-status-info {
        display: none;
    }
}

.bp3-menu .bp3-popover-target {
    // for menu items with tooltips
    display: block;
}
