$title-height: 24px;
$widget-background: #f2f2f2;
$title-color: #777777;
$border-color: #cccccc;

.floating-widget {
    background-color: $widget-background;
    border: 1px solid $border-color;
    box-shadow: 0px 1px 32px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    overflow: hidden;

    .floating-header {
        width: 100%;
        height: $title-height;
        background-color: darken($widget-background, 5);
        border-bottom: 1px solid $border-color;

        display: flex;

        .floating-title {
            padding-left: 5px;
            padding-top: 2px;
            color: $title-color;
            font-size: 14px;
            cursor: move;
            flex: 1 1 100%;
        }
        .floating-header-button {
            padding-right: 5px;
            padding-top: 3px;
            cursor: pointer;
            &:hover {
                color: darken($title-color, 15);
            }
        }
    }

    .selected {
        background-color: darken($widget-background, 15);
    }

    .floating-content {
        width: 100%;
        height: calc(100% - #{$title-height});
    }
}