@import "~@blueprintjs/core/lib/scss/variables.scss";

.appearance-form {
    .form-contents {
        display: flex;
        flex-wrap: wrap;
        user-select: none;
        .bp3-form-group {
            flex-grow: 1;
            padding-right: 10px;

            &:last-of-type {
                padding-right: 0;
            }
        }

        .bp3-numeric-input {
            .bp3-input-group {
                width: 60px;
            }
        }
    }
}
