.catalog-overlay {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    overflow-y: auto;

    .catalog-overlay-filter-settings {
        height: 35px;
        width: 100%;
        padding-top: 5px;
        display: inline-flex;

        .catalog-map-buttons {
            position: absolute;
            right: 5px;
        }

        .bp5-tab-panel {
            height: 22em;
            overflow: auto;
            width: 100%;
        }

        .bp5-form-group .bp5-label {
            text-align: left;
        }

        .bp5-numeric-input {
            .bp5-input-group {
                width: 60px;
            }
        }

        .line-boundary {
            .bp5-input-group {
                input {
                    width: 90px;
                }
            }
        }

        .reset-range-content {
            margin-left: 101px;
            .reset-range-button {
                width: 10em;
            }
        }

        .catalog-overlay-filter {
            display: inline-flex;
            height: 100%;
        }

        .bp5-form-group {
            margin-left: 5px;
        }
    }

    .catalog-table {
        height: calc(100% - 130px) !important;
        position: inherit !important;
        min-height: calc(100% - 130px) !important;

        .Resizer {
            background: rgba(0, 0, 0, 0);
            opacity: 0;
            z-index: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
        }
        .Resizer.horizontal {
            height: 11px;
            margin: -5px 0;
            border-top: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid rgba(255, 255, 255, 0);
            cursor: row-resize;
            width: 100%;
        }
        .Resizer.disabled {
            cursor: not-allowed;
        }
        .Resizer.disabled:hover {
            border-color: transparent;
        }

        .Pane1 {
            min-height: 10px !important;
        }

        .Pane2 {
            min-height: 10px !important;
        }

        .catalog-overlay-column-header-container {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 4px;
            .bp5-table-container {
                width: 100%;

                .bp5-table-header {
                    line-height: 220%;
                }

                .header-table-cell {
                    line-height: 250%;
                }

                .cell-switch-button {
                    margin: 0;
                }

                .cell-dropdown-menu {
                    .bp5-table-truncated-text {
                        width: 100%;
                        height: 100%;

                        .bp5-html-select {
                            width: 100%;
                            height: 100%;

                            .bp5-icon {
                                top: 9px;
                                right: 9px;
                            }
                        }
                    }
                }
            }
        }

        .catalog-overlay-data-container {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 1px;
            padding-top: 1px;

            .bp5-table-container {
                width: 100%;

                .bp5-table-editable-name.bp5-editable-text::before {
                    right: 0px;
                    left: 0px;
                }

                .bp5-editable-text::before {
                    right: 0px;
                    left: 0px;
                }
                .column-filter {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }

    .bp5-dialog-footer {
        margin: 0;
        width: calc(100% - 5px);
        height: 85px;
        padding-left: 5px;

        .table-info {
            left: 5px;
            height: 15px;
            margin: 0 0 0 0;
            user-select: none;
            .info-display {
                td {
                    text-align: left;
                    padding: 0 0 0 0;
                    background-color: #ffffff00;
                }

                .td-label {
                    width: 55px;
                }

                pre {
                    font-size: x-small;
                    margin: 0 0 0 0;
                }
            }
        }

        .footer-action-container {
            padding-top: 2px;
            height: 35px;
            width: 100%;
            .footer-action-large {
                display: inline-flex;
                float: right;
                height: 35px;
                width: 585px;
            }

            .footer-action-small {
                display: inline-flex;
                height: 35px;
                width: 100%;
                overflow-x: scroll;
            }

            .catalog-type-button {
                margin-left: -40px;
                width: 140px;
                height: 30px;
                .bp5-popover2-target {
                    width: inherit;
                    .bp5-button {
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }

            .catalog-axis {
                margin-left: 10px;
                width: 140px;
                .catalog-axis-select {
                    .catalog-axis-button {
                        width: 100px;
                        height: 30px;
                        margin-left: 0px;
                        justify-content: space-between;

                        .bp5-button-text {
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .catalog-map-buttons {
                height: fit-content;
                margin-left: 10px;
            }

            .catalog-max-rows {
                margin-left: 5px;
                .bp5-label {
                    text-align: right;
                    overflow: hidden;
                    width: 65px;
                    height: 30px;
                }

                .bp5-form-content {
                    .bp5-control-group {
                        .bp5-input-group {
                            width: 100px;
                        }
                    }
                }
            }
        }

        .bp5-dialog-footer {
            height: 35px;
            float: right;
            .bp5-button {
                height: 30px;
            }
            .bp5-form-group {
                margin: 0;
                .bp5-label {
                    margin: 0;
                }
            }
        }
    }
}

.catalog-select {
    .bp5-popover2-content {
        .bp5-menu {
            max-height: 300px;
            overflow: auto;
            min-width: fit-content;
        }
    }
}
