@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.actions-toolbar-menu {
    margin: 4px 4px 4px 10px;
    user-select: none;

    &.bp3-dark {
        .bp3-button-text {
            color: $gray5;
        }
    }

    // adjust for line region icon
    .bp3-icon-slash {
        transform: rotate(45deg) scaleY(1.6) rotate(-15deg);
    }
}

.toolbar-menu {
    margin: 4px 4px 4px 10px;
    user-select: none;

    &.bp3-dark {
        .bp3-button-text {
            color: $gray5;
        }
    }
}

.dialog-toolbar-menu {
    margin: 4px auto 4px 10px;
    user-select: none;

    &.bp3-dark {
        .bp3-button-text {
            color: $gray5;
        }
    }
}
