.histogram-settings-panel {
    margin: 20px;

    .bp5-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp5-button-text {
        white-space: nowrap;
    }
}
