@import "~@blueprintjs/core/lib/scss/variables.scss";

.#{$ns}-dialog-footer {
    .footer-text {
        height: 30px;
        line-height: 30px;
        float: left;
    }

    .footer-button {
        height: 30px;
        float: right;
    }
}
