
.stokes-settings {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;

    .stokes-line-settings {
        width: 100%;
    }

    .stokes-scatter-settings {
        width: 100%;
    }

    .bp3-tab-panel {
        height: 22em;
        overflow: auto;
        width: 100%;
    }

    .bp3-form-group .bp3-label {
        width: 12em;
        text-align: right;
    }

    .bp3-numeric-input {
        .bp3-input-group {
            width: 60px;
        }
    }
}
