.stokes-settings {
    margin: 20px;

    .bp4-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp4-form-group .bp4-label {
        width: 12em;
        text-align: left;
    }

    .bp4-numeric-input {
        .bp4-input-group {
            width: 60px;
        }
    }
}
