.stokes-settings {
    margin: 20px;

    .bp5-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp5-form-group .bp5-label {
        width: 11em;
        text-align: right;
    }

    .bp5-numeric-input {
        .bp5-input-group {
            width: 60px;
        }
    }
}
