@import "~@blueprintjs/core/lib/scss/variables.scss";

.layout-name-input {
    margin: 3px;
    user-select: none;
}

.layout-dialog {
    thead {
        display: block;
        th {
            width: 160px;
        }
    }

    tbody {
        display: block;
        overflow: auto;
        height: 100px;
        tr {
            display: flex;
            td {
                width: 160px;
                .#{$ns}-form-group {
                    margin: 6px;
                }
            }
        }
    }
}
