.select-region {
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 7px;

    .select-status {
        margin-top: 0;
    }

    .bp4-icon {
        opacity: 0.5;
    }
}
