.spectral-line-overlay-widget {
    height: 100%;
    width: 100%;
    padding: 20px;

    .bp3-numeric-input {
        .bp3-input-group {
            width: 80px;
        }
    }

    .bp3-form-group {
        margin: 0 10px 0 0;
        .bp3-label {
            text-align: right;
        }
    }

    .query-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .header-table {
        overflow: auto;
        height: 40%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 4px;

        .bp3-table-container {
            width: 100%;

            .bp3-table-header {
                line-height: 220%;
            }

            .header-table-cell {
                line-height: 250%;
            }

            .cell-switch-button{
                margin: 0;
            }
        }
    }

    .redshift-panel {
        display: flex;
        margin: 5px 0 5px 0;
    }

    .query-result-table {
        overflow: auto;
        height: 40%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 1px;

        .bp3-table-container{
            width: 100%;

            .bp3-table-editable-name.bp3-editable-text::before {
                right: 0px;
                left: 0px;
            }

            .bp3-editable-text::before {
                right: 0px;
                left: 0px;
            }
            .column-filter {
                width: inherit;
                height: inherit;
            }
        }
    }

    .bp3-dialog-footer {
        margin: 0 5px 0 0;
    }
}
