.spectral-line-overlay-widget {
    height: 100%;
    width: 100%;
    padding: 20px;

    .bp3-numeric-input {
        .bp3-input-group {
            width: 80px;
        }
    }

    .bp3-form-group {
        .bp3-label {
            text-align: right;
        }
    }

    .query-panel {
        display: flex;
    }

    .header-table {
        overflow: auto;
        height: 40%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 4px;

        .bp3-table-container {
            width: 100%;

            .bp3-table-header {
                line-height: 220%;
            }

            .header-table-cell {
                line-height: 250%;
            }

            .cell-switch-button{
                margin: 0;
            }
        }
    }

    .redshift-panel {
        display: flex;
        padding-top: 10px;
    }

    .spectral-line-plot {
        float: right;
    }
}
