@import "~@blueprintjs/core/lib/scss/variables.scss";

.histogram-widget {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    user-select: none;

    .histogram-container {
        flex: 3 3 auto;
        min-width: 0;
        padding-bottom: 5px;
        margin-right: 5px;

        .histogram-plot {
            height: calc(100% - 35px);
            position: relative;
        }
    }
}
