.splash-screen {
    user-select: none;

    width: 600px;
    height: 400px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left:-300px;
    margin-top:-200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .image-div {
        text-align: center;
    }

    .spinner-div {
    }

    .info-div {
    }
}