@import "~@blueprintjs/core/lib/scss/variables.scss";

.splash-screen {
    user-select: none;

    width: 650px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -200px;
    padding: 15px 0 15px 0;
    background: $light-gray5;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 4px 8px rgba(16, 22, 26, 0.1), 0 18px 46px 6px rgba(16, 22, 26, 0.1);
    border-radius: 6px;
    border: 2px solid #5480b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    .image-div {
        width: 150px;
        height: 175px;
    }

    .app-info-div {
        margin: 10px 0 10px 0;
        h1 {
            margin: 0 0 0 0;
        }
    }

    .loading-info-div {
        height: 40px;
        display: flex;
        align-items: center;
        p {
            margin: 0 0 0 0;
        }
    }

    .dashboard-info-div {
        margin-left: auto;
        margin-right: 25px;
    }
}
