@import "~@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-toolbar {
    overflow: hidden;
    display: flex;

    .bp3-form-group {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 15px;

        &:first-of-type {
            margin-left: 5px;
        }
    }

    .unlinked-to-selected {
        border: 1px solid transparent;
    }

    .linked-to-selected-stokes {
        border: 1px solid $blue2;

        &.dark-theme {
            border: 1px solid $blue4;
        }

        transition: border 250ms linear;
    }
}
