.line-region-form {
    user-select: none;

    .bp3-form-group:first-child .bp3-input {
        width: 255px;
    }

    .bp3-form-content {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        gap: 0 5px;

        .bp3-input {
            width: 125px;
        }

        .info-string {
            display: flex;
            align-items: center;
            flex-basis: 350px;
            margin-left: 5px;
            font-size: x-small;
            font-family: monospace;
            user-select: text;
        }
    }
}
