.hips-query-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .hips-query-config {
        flex: 1;
        overflow: auto;

        .bp3-label {
            min-width: 10em;
            width: 10em;
            text-align: right;
        }

        .bp3-form-content {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            gap: 10px;
        }

        .center-input-form {
            .bp3-html-select {
                width: 70px;
            }
            .bp3-input-group {
                width: 140px;
            }
        }
    }

    .query-footer {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
}
