@import "~@blueprintjs/core/lib/scss/variables.scss";

.online-data-query-dialog {
    .#{$ns}-dialog-body {
        .#{$ns}-tabs {
            display: flex;
            flex-direction: column;
            height: 100%;

            .#{$ns}-tab-panel {
                flex: 1;
                min-height: 0;
            }
        }
    }
}
