@import "~@blueprintjs/core/lib/scss/variables.scss";

.floating-content:has(.pv-generator-widget) {
    overflow: auto;
}

.lm_content:has(.pv-generator-widget) {
    overflow: auto;
}

.pv-generator-widget {
    margin: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;

    .bp3-numeric-input {
        .bp3-input-group {
            width: 80px;
        }
    }

    .bp3-non-ideal-state {
        flex: auto;
        padding: 5px 5px 1px;
        margin: 0;
    }

    .pv-generator-panel {
        flex: auto;
        padding: 5px 5px 1px;
        margin: 0;

        .bp3-form-group {
            .bp3-label {
                min-width: 14em;
                width: 14em;
                text-align: right;
            }
        }

        .label-info-group {
            .bp3-html-select {
                width: 100%;
            }

            .label-info {
                max-width: calc(100% - 55px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                vertical-align: bottom;
            }
        }

        .cube-size-button-group {
            .cube-size-group {
                display: flex;
                align-items: center;

                .cube-size {
                    vertical-align: middle;
                }
            }
        }

        .range-select {
            display: flex;
            flex-direction: row;

            .bp3-form-group {
                margin-right: 10px;
                margin-bottom: 0px;
                .bp3-label {
                    margin: 0 10px 0 0;
                    min-width: 3em;
                    width: 3em;
                    text-align: right;
                }
            }

            .cursor-select {
                display: flex;
                margin-left: 5px;
            }
        }

        .rebin-select {
            display: flex;
            flex-direction: row;

            .bp3-input-group {
                width: 65px;
            }

            .bp3-form-group {
                margin-right: 5px;
                margin-bottom: 0px;
                .bp3-label {
                    margin: 0px;
                    min-width: 2em;
                    width: 2em;
                    text-align: left;
                }
            }
        }

        .generate-button {
            float: right;
            display: flex;
            div {
                margin-left: 1em;
            }
        }
    }
}
