.contour-generator-panel {
    .generator-select-row {
        display: flex;

        .generate-button {
            height: 30px;
            margin-left: 10px;
        }

        .bp3-form-group .bp3-label {
            width: 6em;
            text-align: left;
        }
    }

    .generator-parameters-row {
        display: flex;


        .bp3-form-group .bp3-label {
            width: 6em;
            text-align: left;
        }

        .parameter-container{
            display: flex;
            flex-direction: column;
            .parameter-line{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .bp3-form-group {
                    // width:200px;
                    padding-right: 10px;
                    .bp3-label {
                        width: 5em;
                        text-align: right;
                    }
                }
            }
        }

        .bp3-numeric-input {
            .bp3-input-group {
                input {
                    width: 105px;
                }
            }

            &.narrow {
                .bp3-input-group {
                    input {
                        width: 75px;
                    }
                }
            }
        }
    }
}