.contour-generator-panel {
    .generator-select-row {
        display: flex;

        .generate-button {
            height: 30px;
            margin-left: 10px;
        }

        .bp3-form-group .bp3-label {
            width: 6em;
            text-align: left;
        }
    }

    .generator-parameters-row {
        display: flex;

        .bp3-form-group .bp3-label {
            width: 6em;
            text-align: left;
        }

        .parameter-container {
            display: flex;
            flex-direction: column;
            .parameter-line {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .bp3-form-group {
                    padding-right: 10px;
                    .bp3-label {
                        width: 5em;
                        text-align: right;
                    }
                }
            }
        }

        .bp3-numeric-input {
            width: 110px;
            .bp3-input-group {
                height: 30px;
                input {
                    width: 110px;
                }
            }

            &.narrow {
                .bp3-input-group {
                    height: 30px;
                    input {
                        width: 80px;
                    }
                }

                .bp3-button-group {
                    height: 30px;
                    .bp3-button {
                        height: 15px;
                        width: 30px;
                    }
                }
            }
        }
    }
}
