.modebar {
    background: rgba(#137CBD, 0.05) !important;
    border-bottom-left-radius: 5px;
}

.render-config-container {
    display: flex;
    width: 100%;
    height: 100%;

    .colormap-config {
        flex: 1 1 220px;
        min-width: 220px;
        padding-right: 10px;
        padding-top: 10px;
        overflow-y: auto;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        div {
            margin-left: auto;
        }
        .percentile-select {
            margin-right: 0;
        }
        .bp3-numeric-input {
            //width: 80px;
        }

        .bp3-form-group {
            float: right;
            margin-bottom: 5px;
        }
    }

    .histogram-container {
        flex: 3 3 auto;
        min-width: 0;
        padding-bottom: 5px;

        .histogram-plot {
            height: calc(100% - 30px);
        }
    }
}

.percentile-buttons {
    margin: 5px auto auto 5px;
    height: 30px;
}

.percentile-select {
    margin: 5px auto auto 5px;
    .bp3-form-group {
        margin: 0;
    }
    .bp3-button {
        margin-left: 5px;
    }
}
