@import "~@blueprintjs/core/lib/scss/variables.scss";

.equation-div {
    height: 20px;
    position: relative;
    background-size: auto 18px;
    background-repeat: no-repeat;
}

.colormap-select-popover {
    .bp4-menu {
        max-height: 180px;
        overflow: auto;
        padding: 0;
    }
}

.colormap-block {
    width: 75px;
    height: 15px;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
    border-radius: $pt-border-radius;
    border: 1px solid $gray4;
    &.bp4-dark {
        border: 1px solid $gray2;
    }
}

.render-config-container {
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
    .options-container {
        flex: 1 1 230px;
        min-width: 230px;
        padding-right: 10px;
        padding-top: 10px;
        overflow-y: auto;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        div {
            margin-left: auto;
        }
        .percentile-select {
            margin-right: 0;
        }

        .bp4-form-group {
            float: right;
            margin-bottom: 5px;
            .bp4-button {
                width: 130px;
            }
            .bp4-label {
                margin-right: 5px;
            }
            .bias-contrast-button {
                width: 135px;
            }
        }

        .bp4-numeric-input {
            .bp4-input-group {
                input {
                    width: 130px;
                }
            }
        }

        .bp4-input-group {
            input {
                width: 120px;
            }
        }

        select {
            width: 90px;
            direction: rtl;
        }

        .step-input {
            .bp4-input-group input {
                width: 98px;
            }

            .bp4-button {
                width: 30px;
            }
        }
    }

    .histogram-container {
        flex: 3 3 auto;
        min-width: 0;
        .histogram-plot {
            margin-left: 5px;
            height: calc(100% - 35px);
            position: relative;
        }
    }
}

.percentile-buttons {
    margin: 5px auto auto 5px;
    height: 30px;
}

.percentile-select {
    margin: 5px auto auto 5px;
    .bp4-form-group {
        margin: 0;
    }
    .bp4-button {
        margin-left: 5px;
    }
}
