.profile-fitting-panel{

    .profile-fitting-form{

        .bp3-form-group {
            &:first-of-type {
                margin-left: 0px;
            }
            .bp3-label {
                width: 10em;
                text-align: left;
            }
        }

        .components-input{
            display: flex;
            flex-direction: row;

            .bp3-input-group{
                width: 40px;
            }
        }

        .components-slieder{
            display: flex;
            flex-direction: row;
            height: 30px;

            .bp3-slider{
                margin-left: 15px;
                width: 100%;
            }

            .bp3-button{
                margin-left: 15px;
            }
        }

        .component-input{
            display: flex;
            flex-direction: row;

            .bp3-switch{
                margin-left: 15px;
            }
        }

        .fitting-result-pre{
            overflow: auto;
            height: 100%;
            flex: 2 2 auto;
        }
    }

    .profile-fitting-footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .bp3-button{
            margin-left: 10px;
        }

        .bp3-switch{
            margin-left: 15px;
        }
    }
}

.fitting-popover{
    display: flex;
    flex-direction: column;
    height: 400px;

    .fitting-log-pre{
        overflow: auto;
        height: 100%;
        flex: 1;
    }
}