.spectral-settings {
    margin: 20px;

    .bp4-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp4-form-group .bp4-label {
        text-align: left;
    }

    .conversion-tab-panel {
        .bp4-form-group .bp4-label {
            width: 6em;
        }
    }

    .styling-tab-panel {
        .bp4-form-group .bp4-label {
            width: 12em;
        }
    }

    .moment-tab-panel {
        .bp4-form-group .bp4-label {
            width: 9em;
        }
    }
}
