.debug-execution-dialog {
    user-select: none;

    .input-text {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .bp3-input-group {
        margin-bottom: 10px;
    }
}
