.raster-canvas {
    position: absolute;
    z-index: 2;
}

.temp-canvas {
    position: absolute;
    z-index: 1;
}

.raster-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}