.cursor-info-widget {
    width: 100%;
    height: 100%;
    user-select: none;
    padding: 5px;

    .bp4-table-column-name {
        font-size: 12px;
        font-weight: bold;
    }

    .bp4-table-row-headers .bp4-table-header {
        display: flex;
        align-items: center;
    }

    .bp4-table-cell {
        display: flex;
        align-items: center;
        padding: 5px;
        line-height: 15px;
    }
}
