@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.file-info {
    height: calc(100% - 40px);
    width: 100%;

    .file-info-panel-top {
        display: inline-flex;

        .bp3-tabs {
            padding-right: 10px;
        }

        .bp3-form-group {
            margin: 0;
            padding-left: 10px;
        }

        .bp3-html-select {
            width: 200px;
        }
    }

    .file-info-pre {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
    }

    .header-list {
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        cursor: text;

        .header-entry {
            padding-right: 15px;
            margin-top: 10px;
            padding-left: 15px;
            .header-name {
                color: $blue2;
                font-weight: bold;
            }

            .header-comment {
                opacity: 0.5;
                font-style: italic;
            }
        }
    }

    .bp3-heading {
        flex: 0 0 auto;
    }

    .file-header-table {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
        padding: 1px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }

}

.file-save {
    display: flex;
    flex-direction: row;
    margin: .5em;
    margin-top: 1em;
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    .file-name {
        margin-bottom: 0em;

        .label {
            width: 20%;
        }
        .text {
            margin-left: 1em;
        }
    }

    .region-select{
        margin: 0em;

        .label {
            width: 8em;
        }
        .bp3-html-select {
            width: auto;
        }
    }

    .coordinate-select {
        margin-top: 1em;

        .bp3-form-group {
            margin: 0em;

            .bp3-label {
                width: 7em;
            }
            .bp3-select {
                margin-left: auto;
            }
        }
    }

    .range-select {
        margin-top: 1em;
        margin-left: -1%;

        .bp3-control-group {
            .bp3-label {
                margin-left: 0;
                margin-right: 1em;
                margin: auto;
                width: 0%;
            }
            .bp3-input {
                margin-left: 1em;
                width: 8em;
            }
        }
    }

    .stokes-select {
        margin-top: 1em;

        .bp3-form-group {
            margin: 0em;

            .bp3-label {
                width: 7em;
            }
            .bp3-select {
                margin-left: auto;
            }
        }
    }

    .drop-degenerate {
        margin-top: 1em;
    }
}