@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.file-info {
    height: calc(100% - 40px);
    width: 100%;

    .file-info-pre {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
    }

    .header-list {
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        cursor: text;

        .header-entry {
            padding-right: 15px;
            margin-top: 10px;
            padding-left: 15px;
            .header-name {
                color: $blue2;
                font-weight: bold;
            }

            .header-comment {
                opacity: 0.5;
                font-style: italic;
            }
        }

    }

    .bp3-heading {
        flex: 0 0 auto;
    }

    .file-header-table {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
        padding: 1px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }

}

.file-save-pre {
    overflow: auto;
    height: 100%;

    .region-select{
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        margin-bottom: 1em;

        .bp3-control-group {
            margin-left: 0px;
            .bp3-label {
                margin: auto;
                margin-right: 1em;
                width: auto;
            }
            .bp3-input {
                margin-left: 2em;
                width: auto;
            }
        }
    }

    .range-select {
        display: flex;
        flex-direction: row;
        margin-top: 1em;

        .bp3-control-group {
            margin-left: 0px;
            .bp3-label {
                margin: auto;
            }
            .bp3-input {
                width: 8em;
                align-self: auto;
            }
        }
    }

    .coordinate-select {
        display: flex;
        flex-direction: row;
        margin-top: 0em;

        .bp3-form-group {
            margin-right: 1em;

            .bp3-select {
                margin-left: auto;
            }
        }
    }

}