@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.file-info {
    height: calc(100% - 40px);
    width: 100%;

    .file-info-panel-top {
        display: inline-flex;

        .bp3-tabs {
            padding-right: 10px;
        }

        .bp3-form-group {
            margin: 0;
            padding-left: 10px;
        }

        .bp3-html-select {
            width: 110px;
        }
    }

    .file-info-pre {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
    }

    .header-list {
        display: block;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        user-select: text;
        cursor: text;

        .header-entry {
            padding-right: 15px;
            margin-top: 10px;
            padding-left: 15px;

            .header-name {
                color: $blue2;
                font-weight: bold;
            }

            .header-comment {
                color: rgba(0, 0, 0, 0.5);
                font-style: italic;
            }

            .info-highlight {
                background-color: yellow;
            }
        
            .info-highlight-selected {
                background-color: $gold5;
            }
        }
    }

    .bp3-heading {
        flex: 0 0 auto;
    }

    .file-header-table {
        overflow: auto;
        height: 100%;
        flex: 2 2 auto;
        padding: 1px;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }

    .header-search-button {
        position: absolute;
        bottom: -40px;
        right: 0;
        margin: 0 10px 10px 0;
        
        .bp3-button {
            transition: opacity 400ms;
            user-select: none;
        }
    }
    
    .header-export{
        position: absolute;
        bottom: 0px;
        right: 0;
        margin: 0 10px 10px 0;
        transition: opacity 400ms;
    }


}

.header-search-input {
    width: 250px;

    .header-search-iter {
        color: $gray1;
        padding-top: 6px;
    }
}