.catalog-query-dialog{
    height: 100%;
    width: 100%;

    .online-catalog-config {
        .bp3-form-group {
            .bp3-label {
                margin-left: 5px !important;
            }
            .bp3-form-content {
                display:inline-flex;
            }
            .bp3-form-content > * {
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
}
