.catalog-query-dialog {
    height: 100%;
    width: 100%;

    .online-catalog-config {
        .bp4-form-group {
            .bp4-label {
                margin-left: 5px !important;
            }
            .bp4-form-content {
                display: inline-flex;
            }
            .bp4-form-content > * {
                margin-right: 5px;
                margin-left: 5px;
            }
        }

        .vizier-databse {
            width: 93px;
            float: left;
        }

        .vizier-key-words {
            width: calc(100% - 93px);
        }
    }

    .bp4-dialog-footer {
        .result-info {
            display: inline-flex;
            font-size: x-small;
        }

        .bp4-dialog-footer-actions {
            float: right;
        }
    }

    .bp4-input-group .bp4-input {
        width: auto;
    }

    .query-loading-overlay {
        position: absolute !important;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        width: inherit !important;
        height: inherit !important;
    }
}

.vizier-mulit-select {
    .bp4-popover2-content {
        .bp4-menu {
            max-height: 200px;
            overflow: auto;
            min-width: fit-content;
        }
    }
}
