@import "../../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

$browser-table-color: $blue3;

.file-table {
    overflow-y: scroll;
    table-layout: fixed;
    width: 100%;
    margin-right: 20px;
    thead {
        th {
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: $light-gray4;
            cursor: pointer;
            .bp3-icon {
                vertical-align: middle;
                height: 10px;
            }

            &.dark-theme {
                background-color: $dark-gray5;
            }
        }
    }
}

#file-header-icon {
    width: 32px;
}

#file-header-type {
    width: 84px;
}

#file-header-size {
    width: 84px;
}

// Hide table columns as the screen gets smaller
@media only screen and (max-width: 925px) {
    #file-header-size {
        width: 0;
        display: none;
    }
    .file-table-entry {
        td:nth-of-type(4) {
            display: none;
        }
    }
}
@media only screen and (max-width: 800px) {
    #file-header-type, #file-header-size {
        width: 0;
        display: none;
    }
    .file-table-entry {
        td:nth-of-type(3), td:nth-of-type(4) {
            display: none;
        }
    }
}

.file-table-entry {
    cursor: pointer;
    &:hover {
        background-color: rgba($browser-table-color, 0.05);
    }

    &:last-of-type {
        td {
            border-bottom: solid 1px rgba($browser-table-color, 0.2);
        }
    }

    td {
        overflow: hidden;
        box-shadow: none;
        border-right: solid 1px rgba($browser-table-color, 0.2);
        &:first-of-type {
            border-left: solid 1px rgba($browser-table-color, 0.2);
            border-right: none;
        }
    }
}

.file-table-entry-selected {
    cursor: default;
    background-color: rgba($browser-table-color, 0.2);
}