.line-plot-component {
    width: 100%;
    height: 100%;
    user-select: none;
    .annotation-stage {
        position: absolute;
        top: 0;
        left: 0;
    }
    .annotation-stage-legend {
        position: absolute;
        top: 20px;
        left: 0;
    }
}