@import "~@blueprintjs/core/lib/scss/variables.scss";

.color-swatch-button {
    padding: 5px !important;
    .#{$ns}-button-text {
        div {
            width: 40px;
            height: 20px;
        }
    }
}

.color-picker-popup {
    &.#{$ns}-dark {
        .sketch-picker {
            background: $dark-gray5 !important;

            input {
                background: $dark-gray3 !important;
                color: white;
                box-shadow: $dark-gray1 0 0 0 1px inset !important;
            }

            span {
                color: white !important;
            }

            .flexbox-fix {
                div {
                    span {
                        div {
                            box-shadow: $gray2 0 0 0 1px inset !important;
                        }
                    }
                }
            }
        }
    }
}
