@import "~@blueprintjs/core/lib/scss/variables.scss";

.distance-measurement-dialog {
    .#{$ns}-dialog-body {
        user-select: none;

        .config-panel {
            user-select: none;

            .#{$ns}-label {
                min-width: 8em;
                text-align: right;
            }

            .#{$ns}-input {
                width: 125px;
            }

            .#{$ns}-form-content {
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                gap: 0 5px;

                .info-string {
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;
                    min-width: 190px;
                    margin-left: 5px;
                    font-size: x-small;
                    font-family: monospace;
                    user-select: text;
                }
            }
        }

        .styling-panel {
            .#{$ns}-label {
                min-width: 8em;
                text-align: right;
            }

            .#{$ns}-numeric-input {
                .#{$ns}-input-group {
                    width: 60px;
                }
            }
        }
    }
}
