.distance-measurement-dialog {
    .bp5-dialog-body {
        user-select: none;

        .config-panel {
            user-select: none;

            .bp5-label {
                min-width: 8em;
                text-align: right;
            }

            .bp5-input {
                width: 125px;
            }

            .bp5-form-content {
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                gap: 0 5px;

                .info-string {
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;
                    min-width: 190px;
                    margin-left: 5px;
                    font-size: x-small;
                    font-family: monospace;
                    user-select: text;
                }
            }
        }

        .styling-panel {
            .bp5-label {
                min-width: 8em;
                text-align: right;
            }

            .bp5-numeric-input {
                .bp5-input-group {
                    width: 60px;
                }
            }
        }
    }
}
