@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.catalog-2D {
    width: 100%;
    height: 100%;

    .catalog-2D-option {
        width: calc(100% - 25px);
        height: 35px;
        display: inline-flex;
        margin-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;

        .bp3-form-content {
            margin-right: 5px;
        }
    }

    .catalog-2D-scatter {
        width: calc(100% - 10px);
        height: calc(100% - 70px);
        position: relative;
        
        .js-plotly-plot .plotly .hoverlayer .spikeline {
            stroke: $gray2 !important;
            stroke-width: 1px;
        }
    }

    .catalog-2D-scatter-dark {
        width: calc(100% - 10px);
        height: calc(100% - 70px);
        position: relative;
        
        .js-plotly-plot .plotly .hoverlayer .spikeline {
            stroke: $gray4 !important;
            stroke-width: 1px;
        }
    }

    .catalog-2D-footer {
        width: calc(100%);
        height: 30px;
        margin-bottom: 5px;

        .plot-button {
            position: fixed;
            right: 10px;
        }

        .profiler-info {
            bottom: 15px;
        }
    }
}