@import "~@blueprintjs/core/lib/scss/variables.scss";

.offset-coordinate-controls {
    min-height: 30px;
    align-items: center;

    &.offset-coord-controls {
        display: inline-flex;
    }

    &.offset-collapse-content {
        display: flex;
    }

    .sky-ref-radio {
        margin: 0 0 0 10px;

        .#{$ns}-radio {
            margin: 0 8px 0 0;
            font-size: 12px;
        }
    }

    .#{$ns}-popover-target {
        margin-left: 5px;
        flex: none;
    }
}
