@import "../../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.column-name {
    overflow: hidden;

    .label {
        margin: 0;
        display: inline-flex;
        position: absolute;
    }

    .sort-icon {
        margin-right: 5px;
        position: relative;
        top: 5px;
    }
}

.filename-cell {
    .bp3-icon {
        margin-right: 5px;
    }
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.browser-table {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15) !important;

    .bp3-icon {
        color: $gray2;
    }

    &.bp3-dark {
        box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4) !important;

        .bp3-icon {
            color: $gray4;
        }
    }

    padding: 1px;

    .bp3-table-cell {
        cursor: pointer !important;
    }
}