.column-name {
    overflow: hidden;

    .label {
        margin: 0;
        display: inline-flex;
        position: absolute;
    }

    .sort-icon {
        margin-right: 5px;
        position: relative;
        top: 5px;
    }
}

.filename-cell {
    .bp3-icon {
        margin-right: 5px;
    }
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.browser-table {
    .bp3-table-cell {
        cursor: pointer !important;
    }
}