@import "~@blueprintjs/core/lib/scss/variables.scss";

.preference-dialog {
    .bp4-tabs {
        height: 100%;
    }

    .bp4-tab-panel {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    .bp4-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp4-label {
            width: 15em;
            text-align: right;
        }
    }

    .log-event-panel .bp4-form-group .bp4-label {
        width: auto !important;
        text-align: left;
    }

    .bp4-numeric-input {
        .bp4-input-group {
            width: 60px;
        }
    }

    .log-event-header {
        margin: 0;
    }

    .log-event-list {
        .bp4-form-content {
            display: flex;
            flex-wrap: wrap;
            box-sizing: content-box;
            .log-event-checkbox {
                width: 265px;
                margin-bottom: 0;
            }
        }
    }

    .telemetry-callout {
        margin: 0 10px 20px 10px;

        .telemetry-id-text {
            display: flex;
            p {
                font-style: italic;
                padding-top: 12px;
                padding-right: 5px;
            }
        }
    }

    .telemetry-mode-form-group {
        .bp4-form-helper-text {
            width: 275px;
        }
    }

    .pv-preview-cube-size-limit {
        display: flex;
        flex-direction: row;

        select {
            margin-left: 5%;
        }
    }

    user-select: none !important;
}
