@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.preference-dialog {
    .bp3-tab-panel {
        height: 20em;
        overflow: auto;
        width: 100%;
    }

    .bp3-tab-list {
        width: 14em;
    }
    
    .bp3-form-group .bp3-label {
        width: 12em;
        text-align: right;
    }
}
