@import "~@blueprintjs/core/lib/scss/variables.scss";

.preference-dialog {
    .bp5-tabs {
        height: 100%;
    }

    .bp5-tab-panel {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    .bp5-form-group {
        white-space: nowrap;

        &:first-of-type {
            margin-left: 0px;
        }
        .bp5-label {
            min-width: 16em;
            text-align: right;
        }
    }

    .log-event-panel .bp5-form-group .bp5-label {
        width: auto !important;
        text-align: left;
    }

    .bp5-numeric-input {
        .bp5-input-group {
            width: 60px;
        }
    }

    .log-event-header {
        margin: 0;
    }

    .log-event-list {
        .bp5-form-content {
            display: flex;
            flex-wrap: wrap;
            box-sizing: content-box;
            .log-event-checkbox {
                width: 265px;
                margin-bottom: 0;
            }
        }
    }

    .telemetry-callout {
        margin: 0 10px 20px 10px;

        .telemetry-id-text {
            display: flex;
            p {
                font-style: italic;
                padding-top: 12px;
                padding-right: 5px;
            }
        }
    }

    .telemetry-mode-form-group {
        .bp5-form-helper-text {
            width: 275px;
        }
    }

    .pv-preview-cube-size-limit {
        display: flex;
        flex-direction: row;

        select {
            margin-left: 5%;
        }
    }

    .bp5-html-select select,
    .bp5-select select {
        width: auto;
    }

    user-select: none !important;
}
