.catalog-settings{
    margin: 20px;
    .file-menu {
        .bp3-label {
            width: 2em !important;
        }
    }

    .bp3-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp3-form-group .bp3-label {
        width: 9em;
        text-align: left;
    }

    .bp3-numeric-input {
        .bp3-input-group {
            width: 110px;
        }
    }

    .catalog-size-overlay {
        .bp3-input-group {
            width: 50px;
        }
    }

}