.catalog-settings {
    margin: 20px;

    .file-menu .bp3-button {
        white-space: nowrap;
        display: inline-block;
    }
    .bp3-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
    }

    .bp3-form-group .bp3-label {
        width: 9em;
        text-align: right;
    }

    .bp3-numeric-input {
        .bp3-input-group {
            width: 110px;
        }
    }

    .catalog-size-overlay {
        .bp3-input-group {
            width: 50px;
        }
    }

    .numeric-input-lock {
        display: inline-flex;
        width: 100%;
        .lock-button {
            margin-bottom: 20px;
        }
    }
}
