.profiler-info {
    position: absolute;
    bottom: 0;
    left: 5px;
    margin: 0 0 0 0;

    .info-display {
        td {
            text-align: left;
        }

        .td-label {
            width: 50px;
        }

        pre {
            font-size: x-small;
            margin: 0 0 0 0;
        }
    }
}
