@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-toolbar {
    overflow: hidden;
    display: flex;
    user-select: none;

    .profile-selection-panel {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 8px;
        display: flex;
        flex-direction: row;

        .category-set {
            padding-right: 5px;

            .bp3-button {
                .bp3-button-text {
                    margin-right: 0;
                }
            }

            .dropdown-button {
                max-width: 110px;

                .overflow-text {
                    max-width: 80px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }
            }
        }
    }

    .shortcut-buttons {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: auto;
        padding-right: 8px;
    }
}
