@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-toolbar {
    overflow: hidden;
    display: flex;
    user-select: none;

    .profile-selection-panel {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 8px;
        display: flex;
        flex-direction: row;

        .category-set {
            padding-right: 5px;

            .bp3-button {
                padding: 5px;

                .bp3-button-text {
                    margin-right: 0;
                }
            }

            .dropdown-button {
                width: 100px;
                padding-right: 0;

                .overflow-text {
                    width: 70px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }
            }
        }
    }

    .shortcut-buttons {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: auto;
        padding-right: 8px;
    }

    .unlinked-to-selected {
        border: 1px solid transparent;
    }

    .linked-to-selected-stokes {
        border: 1px solid $blue2;

        &.dark-theme {
            border: 1px solid $blue4;
        }

        transition: border 250ms linear;
    }
}
