.contour-dialog {
    .bp4-dialog-body {
        user-select: none;

        .bp4-form-group {
            &:first-of-type {
                margin-left: 0px;
                .bp4-form-content {
                    display: flex;
                }
            }
        }

        .contour-level-panel-levels .bp4-form-group .bp4-label {
            width: 6em;
            text-align: left;
        }

        .contour-config-panel .bp4-form-group .bp4-label {
            width: 10em;
            text-align: left;
        }

        .bp4-tabs {
            margin: 2px;
        }

        .histogram-plot {
            height: 200px;
            position: relative;
        }

        .lock-button {
            margin-left: 5px;
        }
    }
}
