.contour-dialog {
    .bp3-dialog-body {
        user-select: none;

        .bp3-label {
            min-width: 8em;
            text-align: right;
        }

        .bp3-form-group {
            &:first-of-type {
                margin-left: 0px;
            }
        }

        .contour-level-panel-levels .bp3-form-group .bp3-label {
            min-width: 8em;
        }

        .contour-config-panel .bp3-form-group .bp3-label {
            min-width: 8em;
        }

        .bp3-tabs {
            margin: 2px;
        }

        .histogram-plot {
            height: 200px;
            position: relative;
        }

        .bp3-form-group.bp3-inline {
            .bp3-form-content {
                display: inline-flex;
                width: calc(100% - 8em - 15px); // because of the popover, we need the subtractions
                max-width: fit-content;
            }
        }

        .bp3-button:not([class*="bp3-intent-"]).bp3-align-right {
            white-space: nowrap;
            width: 100%;

            .bp3-button-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .lock-button {
            margin-left: 5px;
        }

        .bp3-form-group.bp3-inline.source-menu {
            .bp3-label {
                min-width: 6em;
                text-align: right;
            }
        }

        .parameter-container .parameter-line .bp3-form-group .bp3-label {
            min-width: 5em;
        }
    }
}
