.bp4-table-header-content .bp4-checkbox {
    margin: 0 0 0 10px;
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.column-filter-table {
    .bp4-table-selection-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp4-table-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp4-table-header.bp4-table-header-selected::before {
        background-image: none;
    }

    label.bp4-label .bp4-popover2-target {
        margin-top: 0px;
    }

    .bp4-popover2-target {
        width: inherit;

        .bp4-input-group {
            .bp4-input {
                border-radius: 0px;
                vertical-align: baseline;
                box-shadow: none;
                background: #ffffff00;
            }
        }
    }

    .sort-label .bp4-label {
        margin-bottom: 0px;
    }
}
