.bp5-table-header-content .bp5-checkbox {
    margin: 0 0 0 10px;
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.column-filter-table {
    .bp5-table-selection-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp5-table-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp5-table-header.bp5-table-header-selected::before {
        background-image: none;
    }

    label.bp5-label .bp5-popover-target {
        margin-top: 0px;
    }

    .bp5-popover-target {
        width: inherit;

        .bp5-input-group {
            .bp5-input {
                border-radius: 0px;
                vertical-align: baseline;
                box-shadow: none;
                background: #ffffff00;
            }
        }
    }

    .sort-label .bp5-label {
        margin-bottom: 0px;
    }
}
