@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.image-toolbar {
    position: absolute;
    margin: 5px;
    transition: opacity 400ms;

    &.docked {
        z-index: 2;
    }
}
