@import "~@blueprintjs/core/lib/scss/variables.scss";

.popover-settings-container {
    display: flex;
    height: 100%;

    .bp5-divider {
        margin: 0;
    }

    .popover-settings-button {
        min-width: 0;
        width: 20px;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

    .popover-settings-content {
        height: 100%;
        overflow-y: auto;
    }
}
