@import "~@blueprintjs/core/lib/scss/variables.scss";

.layer-list-widget {
    width: 100%;
    height: 100%;
    user-select: none;
    padding: 5px;

    .name-cell {
        cursor: pointer;
    }

    .bp5-table-column-name {
        font-size: 12px;
    }

    .bp5-button {
        font-size: 11px;

        &.bp5-small {
            min-height: 13px;
        }

        .bp5-button-text {
            line-height: 13px;
        }

        &.outlined {
            border: solid 1px;
        }

        border: solid 1px transparent;
        padding: 0 4px;
        margin-right: 2px;
    }

    .row-cell {
        &.active {
            font-weight: bold;
        }

        .bp5-popover-target:last-of-type {
            .bp5-button {
                margin-right: 0;
            }
        }
    }

    .bp5-popover-wrapper + .bp5-popover-wrapper {
        margin-left: 2px;
    }
}
