.stokes-analysis-toolbar {
    overflow: hidden;
    display: flex;
    user-select: none;
    height: 50px;
    .bp3-form-group {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 15px;

        &:first-of-type {
            margin-left: 5px;
        }
    }

    .profile-buttons {
        margin-bottom: 15px;
        margin-top: 5px;
        margin-left: auto;
    }
}
