.config-generator {
    display: flex;
    flex-direction: row;

    .bp3-numeric-input {
        .bp3-input-group {
            width: 80px;
        }
    }

    .config-panel {
        .pixel-range-select {
            display: flex;
            flex-direction: row;

            .bp3-form-group {
                margin-right: 10px;
                .bp3-label {
                    margin: 0px;
                    width: 3em;
                }
            }

            .cursor-select {
                display: flex;
                margin-left: 5px;
            }
        }

        .reset-config-button {
            margin-top: 5px;
            float: left;
        }

        .crimson-text {
            color: crimson;
        }
    }
}
