@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-widget {
    display: flex;
    width: 100%;
    height: 100%;

    border: 1px solid transparent;
    border-radius: 3px;

    user-select: none;

    &.linked-to-selected {
        border: 1px solid $blue2;

        &.dark-theme {
            border: 1px solid $blue4;
        }

        transition: border 250ms linear;
    }

    .profile-container {
        flex: 3 3 auto;
        min-width: 0;
        padding-bottom: 5px;

        .profile-plot {
            height: calc(100% - 35px);
            position: relative;
        }
    }

    .profiler-info {
        position: absolute;
        bottom: 0;
        left: 5px;
        z-index: 1;

        pre {
            margin-top: 0;
            margin-bottom: 0;
            font-size: x-small;
        }
    }
}
