@import "~@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-widget {
    display: flex;
    width: 100%;
    height: 100%;

    border: 1px solid transparent;
    border-radius: 3px;

    user-select: none;

    &.linked-to-widget-highlighted {
        background-color: $gray4;

        &.dark-theme {
            background-color: $gray2;
        }
    }

    .profile-container {
        flex: 3 3 auto;
        min-width: 0;
        display: flex;
        flex-direction: column;

        .body-split-pane {
            flex: 1 1 auto;
            min-height: 0;

            .split-pane-divider {
                background: rgba(0, 0, 0, 0);
                opacity: 0;
                z-index: 1;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -moz-background-clip: padding;
                -webkit-background-clip: padding;
                background-clip: padding-box;
            }
            .split-pane-divider.vertical {
                height: 11px;
                margin: -5px 0;
                border-top: 5px solid rgba(255, 255, 255, 0);
                border-bottom: 5px solid rgba(255, 255, 255, 0);
                cursor: row-resize;
                width: 100%;
            }
            .split-pane-divider[aria-disabled="true"] {
                cursor: not-allowed;
            }
            .split-pane-divider[aria-disabled="true"]:hover {
                border-color: transparent;
            }

            .split-pane-pane:first-child {
                min-height: 10px !important;
            }

            .split-pane-pane:last-child {
                min-height: 10px !important;
            }

            .line-plot-container {
                flex: 1 1 auto !important;
                height: auto !important;
                width: 100%;
            }

            .info-container {
                overflow: auto;
                height: 100%;
                width: 100%;
            }
        }
    }
}
