.moment-generator {
    display: flex;
    flex-direction: row;

    .bp3-form-group .bp3-label {
        width: 6em;
        text-align: left;
    }
    .bp3-numeric-input {
        .bp3-input-group {
            width: 60px;
        }
    }

    .panel-left {
        width: 400px;

        .range-select {
            display: flex;
            flex-direction: row;
            margin: 10px;

            .range-slider {
                position: relative;
                .bp3-slider {
                    .bp3-slider-axis {
                        display: none;
                    }
                }
            }

            .cursor-select {
                display: flex;
                margin-left: 20px;
            }
        }
    }

    .panel-right {
        width: 380px;
        margin-left: 20px;
        .bp3-form-content {
            display: flex;
            flex-direction: column;
        }

        .moment-generate {
            float: right;
        }
    }
}