.fitting-dialog {
    .bp3-label {
        display: flex;
        min-width: 10em;

        .bp3-text-muted {
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bp3-form-content {
        display: flex;
        width: 100%;
    }

    .bp3-control-group {
        margin-right: 10px;

        .bp3-input-group .bp3-input {
            width: 125px;
        }
    }

    .components-input {
        display: flex;

        .bp3-input-group .bp3-input {
            width: 40px;
        }
    }

    .bp3-slider {
        width: 40%;
        height: 30px;
        margin-left: 20px;
        margin-right: 20px;

        .bp3-button {
            margin-left: 20px;
        }
    }

    .fitting-result {
        height: 80%;

        .bp3-tabs {
            width: 100%;
            height: 100%;

            .bp3-tab-list {
                width: 125px;
            }

            .bp3-tab-panel {
                width: calc(100% - 125px);
                height: 100%;

                .fitting-result-pre {
                    overflow: auto;
                    width: 100%;
                    height: 100%;
                    user-select: text;
                    margin: 0;

                    .fitting-result-text {
                        font-size: 14px;
                    }

                    .log-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
