.fitting-dialog {
    .pinned-input-panel {
        height: 45px;
        overflow: visible;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .SplitPane {
        position: inherit !important;
        height: calc(100% - 40px - 65px) !important; // dialog h - heading h - pinned inputs h
        min-height: calc(100% - 40px - 65px) !important; // dialog h - heading h - pinned inputs h

        .Resizer {
            background: rgba(0, 0, 0, 0);
            opacity: 0;
            z-index: 1;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            background-clip: padding-box;
        }
        .Resizer.horizontal {
            height: 15px;
            border-top: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid rgba(255, 255, 255, 0);
            cursor: row-resize;
            width: 100%;
        }
        .Resizer.disabled {
            cursor: not-allowed;
        }
        .Resizer.disabled:hover {
            border-color: transparent;
        }

        .Pane1 {
            min-height: 65px; // at least show one input column
            max-height: calc(100% - 15px - 65px); // split pane h - resizer h - pane 2 min h
            width: 100%;
            overflow: auto;

            .upper-pane {
                height: 100%;
                width: 100%;
            }

            .unpinned-input-panel {
                height: calc(100% - 30px - 5px); // pane 1 h - footer h - unpinned inputs bottom margin
                margin-top: 0;
                margin-bottom: 5px;
            }
        }

        .Pane2 {
            min-height: 65px; // at least show the two tabs
            overflow: auto;

            .lower-pane {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .bp3-label {
        display: flex;
        min-width: 10em;
        user-select: none;

        .bp3-text-muted {
            margin-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bp3-form-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        user-select: none;
    }

    .bp3-control-group .bp3-input {
        width: 125px;
    }

    .components-input {
        display: flex;

        .bp3-input {
            width: 40px;
        }
    }

    .bp3-slider {
        width: 40%;
        height: 30px;
        margin-left: 20px;
        margin-right: 20px;

        .bp3-button {
            margin-left: 20px;
        }
    }

    .coordinate-panel {
        height: 30px;
    }

    .lock-button {
        margin-left: 5px;
        margin-right: 5px;
    }

    .info-string {
        width: 100%;
        margin-left: 10px;
        font-size: x-small;
        font-family: monospace;
        user-select: text;
    }

    .bp3-divider {
        margin: 15px 0 15px 0;
    }

    .bp3-switch {
        margin: 7px 10px 0 10px;
    }

    .output-button {
        position: absolute;
        bottom: 5px;
        right: 25px;
        margin: 0 0 0 0;
        transition: opacity 400ms;

        .bp3-button {
            transition: opacity 400ms;
            user-select: none;
        }
    }

    .fitting-result-panel {
        .bp3-tabs {
            width: 100%;
            height: 100%;

            .bp3-tab-list {
                width: 125px;
            }

            .bp3-tab-panel {
                width: calc(100% - 125px);
                height: 100%;

                .fitting-result-pre {
                    overflow: auto;
                    width: 100%;
                    height: 100%;
                    user-select: text;
                    margin: 0;

                    .fitting-result-text {
                        font-size: 14px;
                    }

                    .log-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
