.fitting-dialog {
    .bp3-label {
        min-width: 10em;
    }

    .bp3-control-group {
        display: inline-block;
        margin-right: 10px;

        .bp3-input-group .bp3-input {
            width: 125px;
        }
    }

    .fitting-result {
        .bp3-tabs {
            width: 100%;
            height: 100%;

            .bp3-tab-panel {
                width: calc(100% - 125px);
                height: 100%;

                .fitting-result-pre {
                    overflow: auto;
                    width: 100%;
                    height: 100%;
                    user-select: text;
                    margin: 0;

                    .fitting-result-text {
                        font-size: 14px;
                    }

                    .log-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
