.draggable-dialog {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    user-select: none;
    .bp4-overlay.bp4-overlay-scroll-container.bp4-overlay-inline {
        position: static;
        height: 100%;
        width: 100%;
    }
    .bp4-overlay-inline .bp4-overlay-content,
    .bp4-overlay-scroll-container .bp4-overlay-content {
        position: static;
        width: 100%;
        height: 100%;
    }
    .bp4-dialog-container .bp4-dialog {
        position: static;
        width: 100%;
        height: 100%;
        margin: 0 !important;
    }
    .bp4-dialog-header {
        cursor: move;
    }
    .bp4-dialog-body {
        height: 100%;
        width: auto;
        overflow: auto;
    }
    .bp4-overlay-backdrop {
        display: none;
    }
}
