.catalog-div {
    position: absolute;
    left: 0;

    &.docked {
        z-index: 3;
    }

    .catalog-canvas {
        position: absolute;
        z-index: 0;
    }

    .gl-container {
        top: 0px;
        left: 0px;
        width: inherit;
        height: inherit;
    }
}