.catalog-div {
    position: absolute;
    left: 0;
    z-index: 1;

    &.docked {
        z-index: 3;
    }
    
    catalog-plotly {
        .gl-container {
            top: 0px;
            left: 0px;
            width: inherit;
            height: inherit;
        }
    }
}