.catalog-div {
    position: absolute;
    left: 0;

    &.docked {
        z-index: 2;
    }

    &.actived {
        z-index: 4;
        cursor: crosshair;
    }

    .catalog-canvas {
        position: absolute;
        z-index: 0;
    }
}
