.bp3-table-header-content .bp3-checkbox {
    margin: 0 0 0 10px;
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.column-filter-table {
    .bp3-table-selection-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-header.bp3-table-header-selected::before {
        background-image: none;
    }
    
    .bp3-popover-target {
        width: inherit;

        .bp3-input-group {
            .bp3-input {
                border-radius: 0px;
                vertical-align: baseline;
                box-shadow: none;
                background: #ffffff00;
            }
        }
    }

    .sort-label .bp3-label {
        margin-bottom: 0px;
    }
}

.column-popover {
    max-width: 250px;
    .bp3-popover-arrow {
        .bp3-popover-arrow-fill {
            fill: #394b59 !important;
        }
    
        .bp3-popover-arrow-border {
            fill: #10161a !important;
            fill-opacity: 0.1 !important;
        }
    }
    .bp3-popover-content {
        padding: 10px 12px !important;
        background: #394b59 !important;
        color: #f5f8fa !important;
        border-radius: 3px !important;
    }
}

.column-popover-dark {
    max-width: 250px;
    .bp3-popover-arrow {
        .bp3-popover-arrow-fill {
            fill: #e1e8ed !important;
        }
    
        .bp3-popover-arrow-border {
            fill: #10161a !important;
            fill-opacity: 0.2 !important;
        }
    }
    .bp3-popover-content {
        padding: 10px 12px !important;
        background: #e1e8ed !important;
        color: #394b59 !important;
        border-radius: 3px !important;
    }
}

