.bp3-table-header-content .bp3-checkbox {
    margin: 0 0 0 10px;
}

.catalog-sort-menu-item {
    min-width: fit-content !important;
}

.column-filter {
    .bp3-table-selection-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-header.bp3-table-header-selected::before {
        background-image: none;
    }
    
    .bp3-popover-target {
        width: inherit;

        .bp3-input-group {
            .bp3-input {
                border-radius: 0px;
                vertical-align: baseline;
                box-shadow: none;
                background: #ffffff00;
            }
        }
    }
}

.column-filter-popover {
    .bp3-popover-arrow {
        .bp3-popover-arrow-fill {
            fill: #394b59;
        }
    
        .bp3-popover-arrow-border {
            fill: #10161a;
            fill-opacity: 0.1;
        }
    }
    .column-filter-popover-content {
        padding: 10px 12px;
        background: #394b59;
        color: #f5f8fa;
        border-radius: 3px;
    }
}

.column-filter-popover-dark {
    .bp3-popover-arrow {
        .bp3-popover-arrow-fill {
            fill: #e1e8ed !important;
        }
    
        .bp3-popover-arrow-border {
            fill: #10161a;
            fill-opacity: 0.2;
        }
    }
    .column-filter-popover-content {
        padding: 10px 12px;
        background: #e1e8ed;
        color: #394b59;
        border-radius: 3px;
    }
}

