.column-filter {
    .bp3-table-selection-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-region {
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    .bp3-table-header.bp3-table-header-selected::before {
        background-image: none;
    }
}