.scatter-settings-panel {
    width: 100%;

    .bp5-tab-panel {
        height: 22em;
        overflow: auto;
        width: 100%;
    }

    .bp5-form-group {
        &:first-of-type {
            margin-left: 0px;
        }
        .bp5-label {
            min-width: 11em;
            text-align: right;
        }
    }

    .bp5-numeric-input {
        .bp5-input-group {
            width: 60px;
        }
    }
}
