@import "~@blueprintjs/core/lib/scss/variables.scss";

.#{$ns}-dark {
    background-color: $dark-gray4;
}

body {
    &.#{$ns}-dark {
        background-color: $dark-gray4;
    }
}

// TODO: Determine if the hard-coded z-index settings can be reduced or removed
.App {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    user-select: none;
    .#{$ns}-dark {
        background-color: $dark-gray3;
    }
}

.gl-container-app {
    position: absolute;
    top: 48px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: -100;
}

.minimal-dialog-backdrop {
    background-color: rgba(black, 0.1) !important;
}

.#{$ns}-overlay {
    z-index: 995 !important;
}

.#{$ns}-popover {
    z-index: 995 !important;
}

.#{$ns}-transition-container {
    z-index: 995 !important;
}

.#{$ns}-dialog.#{$ns}-alert {
    z-index: 999 !important;
}

.dialog-portal {
    z-index: 990 !important;
}

// Workaround for BlueprintJS bug
.#{$ns}-dark .#{$ns}-button-group:not(.#{$ns}-minimal) > .#{$ns}-popover-wrapper:not(:last-child) .#{$ns}-button,
.#{$ns}-dark .#{$ns}-button-group:not(.#{$ns}-minimal) > .#{$ns}-button:not(:last-child) {
    margin-right: -1px !important;
}

// override menu item style with BlueprintJS v3 style
.#{$ns}-menu-item.#{$ns}-selected {
    background-color: #137cbd !important;
    color: #fff !important;
}

// hide plotly tips
body {
    div.plotly-notifier {
        visibility: hidden;
    }
}
