@import "~@blueprintjs/core/lib/scss/variables.scss";

.bp5-dark {
    background-color: $dark-gray4;
}

body {
    &.bp5-dark {
        background-color: $dark-gray4;
    }
}

// TODO: Determine if the hard-coded z-index settings can be reduced or removed
.App {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    user-select: none;
    .bp5-dark {
        background-color: $dark-gray3;
    }
}

.gl-container-app {
    position: absolute;
    top: 48px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: -100;
}

.minimal-dialog-backdrop {
    background-color: rgba(black, 0.1) !important;
}

.bp5-overlay {
    z-index: 995 !important;
}

.bp5-popover {
    z-index: 995 !important;
}

.bp5-transition-container {
    z-index: 995 !important;
}

.bp5-dialog.bp5-alert {
    z-index: 999 !important;
}

.dialog-portal {
    z-index: 990 !important;
}

// Workaround for BlueprintJS bug
.bp5-dark .bp5-button-group:not(.bp5-minimal) > .bp5-popover-wrapper:not(:last-child) .bp5-button,
.bp5-dark .bp5-button-group:not(.bp5-minimal) > .bp5-button:not(:last-child) {
    margin-right: -1px !important;
}

// override menu item style with BlueprintJS v3 style
.bp5-menu-item.bp5-selected {
    background-color: #137cbd !important;
    color: #fff !important;
}

// hide plotly tips
body {
    div.plotly-notifier {
        visibility: hidden;
    }
}
