@import "~@blueprintjs/core/lib/scss/variables.scss";

.bp4-dark {
    background-color: $dark-gray4;
}

body {
    &.bp4-dark {
        background-color: $dark-gray4;
    }
}

// TODO: Determine if the hard-coded z-index settings can be reduced or removed
.App {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    user-select: none;
    .bp4-dark {
        background-color: $dark-gray3;
    }
}

.gl-container-app {
    position: absolute;
    top: 48px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: -100;
}

.minimal-dialog-backdrop {
    background-color: rgba(black, 0.1) !important;
}

.bp4-overlay {
    z-index: 995 !important;
}

.bp4-popover {
    z-index: 995 !important;
}

.bp4-transition-container {
    z-index: 995 !important;
}

.bp4-dialog.bp4-alert {
    z-index: 999 !important;
}

.dialog-portal {
    z-index: 990 !important;
}

// Workaround for BlueprintJS bug
.bp4-dark .bp4-button-group:not(.bp4-minimal) > .bp4-popover-wrapper:not(:last-child) .bp4-button,
.bp4-dark .bp4-button-group:not(.bp4-minimal) > .bp4-button:not(:last-child) {
    margin-right: -1px !important;
}

// hide plotly tips
body {
    div.plotly-notifier {
        visibility: hidden;
    }
}
