.bp3-dialog-body {
    .file-table {
        height: 152px !important;
        position: inherit !important;
        min-height: 152px !important;
        box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15) !important;
        padding: 1px;

        .bp3-popover-target {
            width: 100%;
            height: 100%;
            .catalog-represent-as-select-button {
                width: 100%;
                height: 100%;
                justify-content: space-between;
            }
        }

        .bp3-table-cell {
            line-height: 250%;
        }
    }
}
