.color-blending-config {
    margin: 20px;

    .name-text {
        .bp3-label {
            min-width: 110px;
            width: 110px;
        }

        .bp3-form-content {
            line-height: 30px;
        }
    }
}
