@import "~@blueprintjs/core/lib/scss/variables.scss";

.color-blending-config {
    margin: 10px;

    .heading {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;

        h6 {
            height: 30px;
            display: flex;
            align-items: center;
            margin: 0;
        }

        .#{$ns}-button-group {
            margin-left: auto;
        }
    }

    .layer-config {
        .#{$ns}-label {
            min-width: 60px;
            width: 60px;
        }

        .#{$ns}-form-content {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .image-text {
                line-height: 30px;
                padding-left: 10px;
            }

            .image-column {
                height: 30px;
                min-width: 120px;
                width: 120px;
            }
        }
    }
}
