@import "~@blueprintjs/core/lib/scss/variables.scss";

.animator-widget {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    user-select: none;
    .animator-sliders {
        margin: 10px;

        .animator-slider {
            display: flex;
            width: 100%;
            margin-bottom: 5px;

            .bp3-radio {
                flex: 1 1 135px;
            }

            .bp3-slider {
                flex: 3 3 auto;
                margin-right: 15px;
            }

            .bp3-slider-label {
                white-space: nowrap;
            }

            .bp3-input-group {
                max-width: 80px;
            }

            .slider-info {
                overflow-x: hidden;
                flex: 1 1 180px;
                font-size: x-small;
                word-wrap: break-word;
            }

            &.range-slider {
                position: relative;
                height: 30px;
                .bp3-slider {
                    .bp3-slider-axis {
                        display: none;
                    }
                    top: -5px;
                }

                .range-label {
                    flex: 1 1 135px;
                    margin-right: 4px;
                }
            }
        }
    }

    .animator-playback {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;

        .playback-buttons {
            flex: 3 3 auto;
            height: 20px;

            // Re-center button icons
            .bp3-button {
                .bp3-icon {
                    position: relative;
                    left: 3px;
                }
            }
        }

        .playback-mode {
            margin: 0 5px 0 5px;
        }

        .playback-numeric-control {
            margin: 0 3px 0 3px;
            min-width: 180px;
            flex: 1 1 180px;
            .bp3-numeric-input {
                .bp3-input-group {
                    width: 35px;
                }
            }

        }

        &.wrap {
            flex-wrap: wrap;

            .playback-buttons {
                height: auto;
                margin-right: 0;
            }

            .playback-mode {
                margin-top: 10px;
                margin-left: 0;
            }

            .playback-numeric-control {
                margin-top: 10px;
            }
        }
    }
}
