.spectral-line-query-widget {
    height: 100%;
    width: 100%;
    padding: 5px;

    .bp3-dialog-body {
        height: calc(100% - 35px);
        margin: 0;

        .bp3-numeric-input {
            .bp3-input-group {
                width: 80px;
            }
        }

        .bp3-form-group {
            margin: 0 10px 0 0;
            .bp3-label {
                text-align: right;
            }
        }

        .query-section {
            height: calc(45% - 11px);
            .query-panel {
                height: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 0;
                padding: 0 5px 0 5px;
                .query-panel-input {
                    display: flex;
                    flex-direction: row;
                }
            }

            .header-table {
                overflow: auto;
                height: calc(100% - 30px);
                width: 100%;
                padding: 5px;

                .bp3-table-container {
                    width: 100%;
                    .bp3-table-header {
                        line-height: 220%;
                    }
                    .header-table-cell {
                        line-height: 250%;
                    }
                    .cell-switch-button{
                        margin: 0;
                    }
                }
            }
        }

        .result-section {
            height: 55%;
            .redshift-panel {
                height: 30px;
                margin: 0;
                padding: 0 5px 0 5px;
                display: flex;
            }

            .result-table {
                overflow: auto;
                height: calc(100% - 50px);
                width: 100%;
                padding: 5px;

                .bp3-table-container{
                    width: 100%;
                    .bp3-table-editable-name.bp3-editable-text::before {
                        right: 0px;
                        left: 0px;
                    }
                    .bp3-editable-text::before {
                        right: 0px;
                        left: 0px;
                    }
                    .column-filter {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            .result-table-info {
                height: 20px;
                padding: 0 5px 0 5px;
                pre {
                    margin: 0;
                }
            }
        }
    }

    .bp3-dialog-footer {
        height: 35px;
        margin: 0px;
        padding: 0 5px 5px 5px;
        .bp3-button {
            height: 30px;
        }
        .bp3-form-group {
            .bp3-label {
                margin: 0;
            }
        }
    }

    .query-loading-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
    }
}
