@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.spectral-line-query-splash-screen {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        .loadingInfo-div {
            height: 40px;
            display: flex;
            align-items: center;
            p {
                margin: 0 0 0 0;
            }
        }
    }
}
