@import "~@blueprintjs/core/lib/scss/variables.scss";

.floating-content:has(.render-3d-widget) {
    overflow: auto;
}

.lm_content:has(.render-3d-widget) {
    overflow: auto;
}

.render-3d-widget {
    margin: 20px; // margin for all components of widget
    display: flex;
    flex-direction: column;
    user-select: none;    

    .render-3d-panel {
        .contour-level-panel-levels .#{$ns}-form-group .#{$ns}-label {
            min-width: 15em;
        }

        .histogram-plot {
            height: 200px;
            width: 100%;
            position: relative;
        }

        // row to select spectral range
        .range-select {
            display: flex;
            flex-direction: row;

            .#{$ns}-form-group {
                margin-right: 10px;
                margin-bottom: 0px;
                .#{$ns}-label {
                    margin: 0 10px 0 0;
                    min-width: 3em;
                    width: 3em;
                    text-align: right;
                }
            }

            // width of box to input number
            .#{$ns}-numeric-input {
                .#{$ns}-input-group {
                    width: 100px;
                }
            }

        //     .cursor-select {
        //         display: flex;
        //         margin-left: 5px;
        //     }
        }

        .generate-button {
            float: right;
            display: flex;
            div {
                margin-left: 1em;
            }
        }
    }
}

