.bp3-tab-panel {
    height: 25em;
    overflow: auto;
    width: 100%;
}

.bp3-tab-list {
    width: 10em;
}

.bp3-select-popover {
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
}
