.bp3-tab-panel {
    height: 25em;
    overflow: auto;
    width: 100%;
}

.bp3-tab-list {
    width: 10em;
}

.bp3-select-popover .bp3-menu {
    max-height: 300px;
    overflow: auto;
    padding: 0;
}

.bp3-select-popover.colorselect .bp3-menu {
    min-width: 100px;
}
